*{
    padding: 0;
    margin: 0;
}

body{
    background-image: url(../images/backgroundsteel.jpg);
    background-size: cover;
}
.fixed{
    position: fixed;
    z-index: 4;
}
.big-margin{
    margin-left: 350px;
}
h1{
    color: rgb(133, 255, 2);
    font-family: 'Exo', sans-serif;
    text-shadow: rgb(18, 14, 220) -5px -5px 6px;
}

.font{
    font-family: 'Exo', sans-serif;
}
img#logo{
    width: 150px;
    height: 150px;
}

.borderh1{
    border: chartreuse solid;
}
.insta{
    width: 50px;
    height: 50px;
}
.youtube{
    width: 75px;
    height: 75px;
}
.titleflex{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
fieldset{
    color: blue;
    text-align: end;
} 
select{
    color: rgb(221, 221, 236);
    background-color: black;
}
.a1:hover{
    font-weight: bold;
    font-size: larger;
}
.navbarhome{
    font-size: larger;
}
.p1{
    color: white;
    font-size: smaller;
    width: 1500px;
    margin-left: -100px;
}
.p2{
    color: white;
    font-size: smaller;
}
.video{
    height: 650px;
    border: solid;
    border-color: crimson;
    border-radius: 20px;
}
.form1{
    background-color: rgb(6, 15, 4);
    color: rgb(7, 98, 178);
    font-size: 20px;
    border: solid;
    border-width: 3px;
    border-radius: 20px;
    padding: 5px;
    margin-top: 70px;
}
.aside1{
    border: solid;
    border-radius: 20px;
    color: rgb(176, 116, 20);
    font-size: 20px;
    padding: 30px;
    text-align: justify;
    margin-top: -20px;
}
.spoty{
    width: 1000px;
    margin-top: 10px;
}
.whats{
    height: 100px;
    width: 100px;
    margin-left: 250px;
}
.text-links{
    text-decoration: none;
    color: red;
    text-transform: uppercase;
}
.boton{
    background-color: black;
    border: 2px solid;
    color: rgb(18, 14, 220);
    border-radius: 15%;
    position: fixed;
    font-weight: bold;
    width: 75px;
    height: 40px;
    margin-left: -30px;
    z-index: 5;
}
h2{
    color: rgb(18, 14, 220);
    text-decoration:underline;
}
.margin-center{
    margin-left: 100px;
    margin-right: 100px;
}
.white{
    color: white;
}
.margin-left{
    margin-left: -1450px;
}